<h1>Why is this a <strike>SQL</strike> sequel?</h1>
<p>
  So, basically, I goofed hard. No need to go into how, just know that it happened. So I have to try again, with the second iteration of Tunar™. The 2nar, if you will.
</p>
<h1>
  Why spell it so dumb? What's that about?
</h1>
<p>
  Look, every app's gotta have its gimmicks. If you don't have a gimmick, are you even real? Like, if Twitter started and everyone's dumb little default profile pictures weren't eggs, they wouldn't have been able to look at that and go "Ha, look! Like a bird! Twitter!" It was refreshing when it started because it made everyone think of birds, as opposed to now when it just makes everyone think of Nazis and political discourse.
</p>
<h1>
  So why the fish, weirdo? Are all your apps like this?
</h1>
<p>
  It's a tuna, get it? That's the gimmick. You know how it is. And yes, everything I've developed in this class has more or less had a background image and I'm not gonna stop soon.
</p>
<h1>
  But it's super ugly. See, even this text sometimes barely stands out!
</h1>
<p>
  Life's about making sacrifices. And I've never been so alive.
</p>
<h1>
  And Comic Sans? You're joking.
</h1>
<p>
  Yes. It's purely ironic.
</p>